# Project 4

In this project, you will summarize and present your analysis from Projects 1-3.

### Intro: Write a problem Statement/ Specific Aim for this project

Answer: This proposal is directed towards hopeful UCLA applicants to assess the likelihood of being admitted to UCLA's graduate school program.

Currently applicants are expected to provide their GPA, GRE, and previous collegiate history but their is no transparent quantifiable correlation with each input value, independent and in relation to one another, with his or her chances of admittance.

The application process can be expensive and time consuming while people apply to multiple schools.  This research will look at past application admission data and correlate admittance in relationship to their GRE, GPA, and collegiate history to better provide applicants with what information is deemed statistically significant and what scores they should evaluate in their own application to assess how likely they will be admitted to UCLA graduate school.

### Dataset:  Write up a description of your data and any cleaning that was completed

Answer: With this dataset, we'll need to remove any blank rows within each field.  We'll also need to create dummy variables for the Prestige field in order to make this field compute within a numerical fashion.  Note that the amit and prestige fields are considered categorical and the GRE and GPA are considered continuous.

### Demo: Provide a table that explains the data by admission status

# Mean (STD) or counts by admission status for each variable 

| Not Admitted | Admitted
---| ---|---
GPA | mean = 3.34(std = 0.38)  | mean = 3.49(std = 0.37)
GRE | mean = 576.58(std = 116.05) | mean = 618.57(std = 109.25)
Prestige 1 | frequency 28 (46%) | frequency 33 (54%)
Prestige 2 | frequency 95 (64%) | frequency 53 (36%)
Prestige 3 |frequency 93 (77%) | frequency 28 (23%)
Prestige 4 |frequency 55(82%) | frequency 12 (18%)

In [75]:
#Find mean and std when applicant is admitted
df2 = df[df.admit==1]
df2.describe()

,admit,gre,gpa,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0
count,126.0,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,1.0,618.571429,3.489206,0.261905,0.420635,0.222222,0.095238
std,0.0,109.257233,0.371655,0.441426,0.495632,0.417399,0.294715
min,1.0,300.000000,2.420000,0.000000,0.000000,0.000000,0.000000
25%,1.0,540.000000,3.220000,0.000000,0.000000,0.000000,0.000000
50%,1.0,620.000000,3.545000,0.000000,0.000000,0.000000,0.000000
75%,1.0,680.000000,3.757500,1.000000,1.000000,0.000000,0.000000
max,1.0,800.000000,4.000000,1.000000,1.000000,1.000000,1.000000

In [76]:
#Find mean and std when applicant is not admitted
df3 = df[df.admit==0]
df3.describe()

,admit,gre,gpa,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0
count,271.0,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,0.0,573.579336,3.347159,0.103321,0.350554,0.343173,0.202952
std,0.0,116.052798,0.376355,0.304941,0.478026,0.475647,0.402941
min,0.0,220.000000,2.260000,0.000000,0.000000,0.000000,0.000000
25%,0.0,500.000000,3.080000,0.000000,0.000000,0.000000,0.000000
50%,0.0,580.000000,3.340000,0.000000,0.000000,0.000000,0.000000
75%,0.0,660.000000,3.610000,0.000000,1.000000,1.000000,0.000000
max,0.0,800.000000,4.000000,1.000000,1.000000,1.000000,1.000000

In [61]:
pd.crosstab(df["prestige_1.0"],df.admit)

admit           0   1
prestige_1.0
0             243  93
1              28  33

In [65]:
(28)/ (28+33)

0.45901639344262296

In [66]:
(33)/ (28+33)

0.5409836065573771

In [62]:
pd.crosstab(df["prestige_2.0"],df.admit)

admit           0   1
prestige_2.0
0             176  73
1              95  53

In [67]:
(95)/ (95+53)

0.6418918918918919

In [68]:
(53)/ (95+53)

0.3581081081081081

In [63]:
pd.crosstab(df["prestige_3.0"],df.admit)

admit           0   1
prestige_3.0
0             178  98
1              93  28

In [69]:
(93)/ (93+28)

0.768595041322314

In [70]:
(28)/ (93+28)

0.23140495867768596

In [64]:
pd.crosstab(df["prestige_4.0"],df.admit)

admit           0    1
prestige_4.0
0             216  114
1              55   12

In [71]:
(55)/ (55+12)

0.8208955223880597

In [72]:
(12)/ (55+12)

0.1791044776119403

### Methods: Write up the methods used in your analysis

Answer:  We used logistic regression model in order to predict the admission in USLA using gre, gpa, and the prestige of undergraduate schools.  We used the highest prestige of undergraduate schools as our reference point by using the get dummy function in order to create features from the 'prestige' feature to create 4 distinct 'prestige_#' columns.  These features (excluding prestige_1) were joined with the raw dataset.  We imported statsmodel to create  our model results.  Second method was to use sklearn in order to do our logistic regression with our x features being 'gre', 'gpa', 'prestige_2', 'prestige_3', and 'prestige_4' as our x and our 'admit' feature as our y prediction.  We calculated our odds_ration by doing an exponential on our coefficients.

### Results: Write up your results

Answer:  Based on our results we can say that there is an inverse relationship between the likelihood of getting admitted into UCLA graduate school and what type of prestige school an applicant noted.  Eg, a person with a prestige score of 1 has a higher chance of getting admitted than someone with a prestige score of 4.  We can go further by saying that there is a %53 percent decrease chance if an applicant went to a prestige schoole of 2 as opposed to 1 based on a review of the odds ratio.

### Visuals: Provide a table or visualization of these results

In [27]:
import os
import numpy as np
import pandas as pd

import statsmodels.formula.api as smf

from sklearn import linear_model

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

df = pd.read_csv(os.path.join('..', '..', 'dataset', 'dataset-ucla-admissions.csv'))
df.dropna(inplace = True)

In [28]:
one_hot = pd.get_dummies(df['prestige'], prefix = 'prestige')

df = df.join(other=one_hot)
df

,admit,gre,gpa,prestige,prestige_1.0,prestige_2.0,prestige_3.0,prestige_4.0
0,0,380.0,3.61,3.0,0,0,1,0
1,1,660.0,3.67,3.0,0,0,1,0
2,1,800.0,4.00,1.0,1,0,0,0
3,1,640.0,3.19,4.0,0,0,0,1
4,0,520.0,2.93,4.0,0,0,0,1
...,...,...,...,...,...,...,...,...
395,0,620.0,4.00,2.0,0,1,0,0
396,0,560.0,3.04,3.0,0,0,1,0
397,0,460.0,2.63,2.0,0,1,0,0
398,0,700.0,3.65,2.0,0,1,0,0
399,0,600.0,3.89,3.0,0,0,1,0

In [29]:
# df.drop('prestige', inplace=True, axis = 1)
del df['prestige']

In [53]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression(C = 10**2)

In [55]:
# features given by X
# response given by y
X = df[['gre','gpa','prestige_2.0','prestige_3.0','prestige_4.0']]
y = df['admit']
lm.fit(X,y)

LogisticRegression(C=100, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [56]:
dat = pd.DataFrame(data = lm.coef_, columns=X.columns)
dat = dat.T
dat.columns = ['coef']
dat['odds_ratio'] = dat.coef.apply(np.exp)
dat

                  coef  odds_ratio
gre           0.002158    1.002161
gpa           0.673155    1.960413
prestige_2.0 -0.628822    0.533219
prestige_3.0 -1.252227    0.285867
prestige_4.0 -1.568792    0.208297

print('coefficients')
print(results.params)
print(np.exp(results.params))
print()

### Discussion: Write up your discussion and future steps

Answer: Unsure of what this section and question is referring to.